<div class="grid-container ">

	<h1>Edit photograph</h1>

	<%= simple_form_for @photograph, url: photograph_path do |f| %>
	  <%= f.input_field :title, placeholder: 'Title' %>
	  <%= f.input_field :camera_model, placeholder: 'Camera Model' %>
	  <%= f.input_field :aperture, placeholder: 'Aperture' %>
	  <%= f.input_field :focal_length, placeholder: 'Focal Length' %>
	  <%= f.input_field :shutter_speed, placeholder: 'Shutter Speed' %>
	  <%= f.input_field :iso, placeholder: 'ISO' %>
	  <%= f.input_field :map_location, placeholder: 'Map Co-ordinates (in format x,y)' %>
	  <%= f.input_field :date_taken, as: :date %>
	  <%= f.input_field :photo, as: :file %>
	  <%= f.button :submit %>
	<% end %>
</div>