<h1>Upload photograph</h1>
<%= simple_form_for @photograph, url: photograph_index_path do |f| %>
  <%= f.input_field :title %>
  <%= f.input_field :date_taken, as: :date %>
  <%= f.input_field :photo, as: :file %>
  <%= f.button :submit %>
<% end %>