<section class="gallery-single-item">
	<div class="">

		<% if @prev.present? %>
			<%= link_to photograph_path(@prev), id: "previous" do %>
				<div class="arrow"></div>
			<% end %>
		<% end %>

		<%= image_tag @photograph.photo.url %>

		<% if @next.present? %>
			<%= link_to photograph_path(@next), id: "next" do %>
				<div class="arrow"></div>
			<% end %>
		<% end %>
	</div>
</section>


<section class="metadata">
	<div class="grid-block">
		<div class="grid-block">
			<h2 class="title"><%= @photograph.title %>
				<span class="date"><%= @photograph.date_taken %></span>
			</h2>
		</div>
		<div class="grid-content shrink">
			<ul class="">
				<li><strong>Camera</strong> NIKON D3000</li>
				<li><strong>Focal Length</strong> 48mm</li>
				<li><strong>Shutter Speed</strong> 1/250 s</li>
				<li><strong>Aperture</strong> f/7.1</li>
				<li><strong>ISO</strong> 100</li>
				<li><strong>Category</strong> Landscapes</li>
			</ul>
		</div>
	</div>
	<div class="map-container grid-block">
		<iframe class="google-maps" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" width="2000" height="500" style="border:0"></iframe>
	</div>
</section>