<section class="gallery-single-item">
	<% if @prev.present? %>
		<%= link_to photograph_path(@prev), id: "previous" do %>
			<div class="arrow"></div>
		<% end %>
	<% end %>

	<%= image_tag @photograph.photo.url(:medium) %>

	<% if @next.present? %>
		<%= link_to photograph_path(@next), id: "next" do %>
			<div class="arrow"></div>
		<% end %>
	<% end %>
</section>

<section class="metadata">
	<div class="grid-block">
		<div class="grid-block">
			<h2 class="title"><%= @photograph.title %>
				<span class="date"><%= @photograph.date_taken %></span>
			</h2>
		</div>
		<div class="grid-content shrink">
			<ul class="">
				<li>
					<strong>Camera</strong> 
					<%= @photograph.camera_model %>
				</li>

				<li>
					<strong>Focal Length</strong> 
					<%= @photograph.focal_length %>
				</li>

				<li>
					<strong>Shutter Speed</strong> 
					<%= @photograph.shutter_speed %>
				</li>

				<li>
					<strong>Aperture</strong> 
					<%= @photograph.aperture %>
				</li>

				<li>
					<strong>ISO</strong> 
					<%= @photograph.iso %>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="map" style="width: 100%; height: 520px"></div>
</section>

<script>
		var map = L.map('map').setView([<%= @photograph.map_location %>], 10);

		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    	attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);


		L.marker([<%= @photograph.map_location %>]).addTo(map);
</script>