<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Jackbracken</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <body class="split">
    <header class="left">
      <div class="headshot">
        <a title="Jack Bracken" href="#">
          <img src="<%= image_url('headshot.jpg') %>" alt="Head shot">
          <h3 class="header-nav">Jack Bracken</h3> 
        </a>
      </div>
      <nav class="site-nav" id="navigation">
        <ul class="main-nav">
          <li><%= link_to('Home', root_path, class: 'main-nav-item strong') %></li>
          <li><%= link_to('Photography', photograph_index_path, class: 'main-nav-item strong') %></li>
          <li><%= link_to('Curriculum Vitae', cv_page_path, class: 'main-nav-item strong') %></li>
          <li><%= link_to('Contact', contact_page_path, class: 'main-nav-item strong') %></li>
        </ul>
      </nav>
    </header>
    <div class="right">
      <%= yield %>
    </div>
  </body>
</html>
